DEBUG=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

SHOPIFY_CLIENT_KEY=
SHOPIFY_CLIENT_SECRET=

FILE_UPLOAD_STORAGE=local # local or s3

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_REGION_NAME=

ETH_WALLET_PRIVATE_KEY=
ETH_WALLET_ADDRESS=

INFURA_IPFS_ID=
INFURA_IPFS_SECRET=
INFURA_ETH_KEY=

SENDGRID_API_KEY=

STRIPE_KEY=
STRIPE_WEBHOOK_SECRET=


RESET_EMAIL_TEMPLATE_ID=
DEFAULT_FROM_EMAIL=
NOTIFICATION_API_KEY=

OPENAI_API_KEY=
PINECONE_API_KEY=

REDIS_CACHE_URL=redis://127.0.0.1:6379/0
BRANDED_IMAGE_GENERATION_TTL=30
DISABLE_TRIAL_FEES=False

DJANGO_SECRET='django-insecure-ox3u(69_q+@s3u=c!2(af=rdyyqh2to3fwar+gehk*-_5=49a9'
